# Port config used by tickerplant #
############ Back Up ##############
#export TICK_PORT=5010
#export RDB1_PORT=5011
#export RDB2_PORT=5013
#export CEP_PORT=5020
#export FEED_PORT=5025
#export HDB_PORT=5012
#########################################################
# the above are back up incase there are wrong amendments
# ensure that changes must include the above ports
#########################################################
# Make changes below for starting tickerplant
############ Port Used ############
export TICK_PORT=5010
export RDB1_PORT=5011
export RDB2_PORT=5013
export CEP_PORT=5020
export FEED_PORT=5025
export HDB_PORT=5012 
export GATEWAY_PORT=5030
